# FlowCollect 配置模板
# 以下是给客户端的

[client]
MihomoAPIAddr = http://127.0.0.1:9097
MihomoSecret  = YOUR_MIHOMO_SECRET
RemoteServer  = http://YOUR_VPS_IP:1234/report
RemoteToken   = A_SECURE_RANDOM_STRING
DeviceID      = MyDevice

# 以下是给服务端的，这两个都是哦，要放在一个 ini 中
[server]
ListenPort  = :1234
ServerToken = YourSecretToken
DBPath      = database.db
SubUrls     = ["a.yaml"]="https://url",
              ["b.yaml"]="https://url"

[smtp]
SMTPHost  = smtp.qq.com
SMTPPort  = 587
EmailUser = qq@qq.com
EmailPass = emailpass
EmailTo   = qq@qq.com